@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    scrollbar-face-color: #f8f8f8;
}

html::-webkit-scrollbar {
    width: 11px;
  }
   
  html::-webkit-scrollbar-track {
    box-shadow: outset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  html::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: none;
  }

body {
    background: #000000;
    font-style: normal;
    font-weight: 300;
    position: relative;
}


html,body {
width: 100%;
overflow-x: hidden;
scroll-behavior: smooth;
}

html {
font-size: 100%;
}




#header {
    width: 100%;
    height: 100vh;
    background-image: url(assets/Header\ Background.png);

}


.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    
}


nav img {
    width: 250px;
    margin-top: 10px;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
nav ul li a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 100%;

}



.home-content {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.home-content .left {
    position: absolute;
    float: left;
    display: flex;
    flex-direction: column;
    margin-top: 40%;
}

.heading img {
    position: relative;
    z-index: 3;
}

.sub-heading img {
    z-index: 2;
    position: relative;
    left: 145px;
    top: -40px;
}

.home-content .left p {
    width: 500px;
    text-align: left;
    color: #ffffff;
    font-size: 20px;
}

.home-content .right {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    background-image: url(assets/shawarma\ w_o\ sauce.png);
    background-repeat: no-repeat;
    background-position: right,bottom;
    background-size: 75%;
    width: 50%;
    height: 27.5%;

}
/*
.home-content .right img {
    position: relative;
    width: 90%;
    margin-left: 180px;
}

*/



#story {
    width: 100%;
    height: 100vh;
}

.our-story {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -50px;

}

.story-left {
    position: relative;
    display: block;

    margin-left: 220px;
    margin-top: 150px;
    line-height: 50px;
}

.our {
    color: #3b3b3b;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.story {
    color: #3f3e65;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.story-right {
    margin-top: 170px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 19px;
}

.our-menu {
    position: relative;
    background-color: #2c2209;
    width: 100%;
    height: 37%;
    top: 90px;
    bottom: 0;
}

.menu-head {
    position: relative;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    color: #ffff;
    font-weight: bold;
    top: 40%;
}

#slider{
    margin-top: 0px;
}

.slider {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
}

.slider-card {
    background-color: #fff;
    margin: 50px 15px 90px 15px;
    transform: scale(0.9);
    opacity: 0.3;
    transition: all 0.3s;
}
.slider-card h1{
    color: #3b3b3b;
}

.food-name {
    text-align: center;
    color: #3b3b3b;
}

.owl-nav .owl-next {
    position: absolute;
    top: calc(50%-25px);
    right: 0;
    opacity: 1;
    font-size: 30px;
}




nav .fa-solid {
    display: none;
}




.blog-card{
    top: 50px;
    position: relative;
    height: 370px;
    width: 95%;
    max-width: 1050px;
    margin: auto;
    background: white;
    box-shadow: rgba(49, 49, 49, 0.3) 0px 20px 15px 5px;
}

  .inner-part{
    position: absolute;
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
  }
  #imgTap:checked ~ .inner-part {
    padding: 0;
    transition: .1s ease-in;
  }
  .inner-part .img{
    height: 260px;
    width: 360px;
    flex-shrink: 0;
    overflow: hidden;
    box-shadow: rgba(49, 49, 49, 0.3) 8px 11px 20px 0px;
}
  #imgTap:checked ~ .inner-part .img{
    z-index: 99;
    margin-top: 10px;
    transition: .3s .2s ease-in;
  }
  .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    transition: .6s;
  }
  #tap-1:checked ~ .inner-part .img-1,
  #tap-2:checked ~ .inner-part .img-2,
  #tap-3:checked ~ .inner-part .img-3{
    opacity: 1;
    transition-delay: .2s;
  }
  .content{
    padding: 0 20px 0 35px;
    width: 530px;
    margin-left: 50px;
    opacity: 0;
    transition: .6s;
  }
  
  #imgTap:checked ~ .inner-part .content{
    display: visible;
  }
  #tap-1:checked ~ .inner-part .content-1,
  #tap-2:checked ~ .inner-part .content-2,
  #tap-3:checked ~ .inner-part .content-3{
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
  }
  .content span{
    display: block;
    color: #3f3e65;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500
  }
  .content .title{
    font-size: 30px;
    font-weight: 700;
    color: #3f3e65;;
    margin-bottom: 20px;
  }
  .content .text{
    color: #3f3e65;;
    font-size: 19px;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
  }
  .content button{
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(89deg, #3f3e65 0%, rgb(63 62 101) 74%);
    align-self: start;
    transition: all 0.5s;
}
  .content button:hover{
    background: linear-gradient(89deg, rgb(88, 136, 182) 0%, rgb(73, 72, 104) 74%);
    transform: translateY(0px);
    transition: all 0.5ss;
}
  .sliders{
    position: absolute;
    bottom: 25px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 12;
  }
  #imgTap:checked ~ .sliders{
    display: visible;
  }
  .sliders .tap{
    position: relative;
    height: 5px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
  }
  .sliders .tap:hover{
    background: #cccccc;
  }
  .sliders .tap:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background: linear-gradient(147deg, #464646  0%, #3f3e65 74%);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: left;
  }
  input[type="radio"],
  input[type="checkbox"]{
    display: none;
  }
  #tap-1:checked ~ .sliders .tap-1:before,
  #tap-2:checked ~ .sliders .tap-2:before,
  #tap-3:checked ~ .sliders .tap-3:before{
    transform: scaleX(1);
    width: 100%;
  }



.franchising-form{
    margin-top: 150px;
    margin-bottom: 50px;
}
.franchising-form h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
    color: #3f3e65;
}

.form-row{
    margin-bottom: 25px;
}

.form-group{
    height:50px;
}

.form-control{
    height: 50px;
    font-size: 1rem;
}



.btn-primary {
    color: #fff;
    background-color: #3f3e65;
    border-color: #3f3e65;
    width: 152%;
    height: 50px;
}

.footer{
    display: flex;
    align-content: center;
    width: 100%;
    height: 600px;
}
.background{
    margin: auto;
    align-content: center;
    width: 90%;
    height: 90%;
    background-image: url(assets/footer\ background.png);
    object-fit: contain;
    background-repeat: no-repeat ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}
.copyright{
    color: #fff;
    position: relative;
    top: 190px;
    left: -100px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 100px;
}


.mail{
    display: flex;
    flex-direction: row;
}
.mail i{
    margin-top: 4px;
    font-size: 20px;
    text-align: center;
}
.mail p{
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}
.mail a{
    color: #fff;
}

.social{
    position: relative;
    top: 180px;
    left: 100px;
    font-size: 25px;
}
.social i{
    margin-left: 10px;
    transition: all 0.5s;
}
.social i:hover{
    transform: translateY(-2px);
    transition: all 0.5s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.mail a:hover{
    text-decoration: none;
    color: #fff;

}







/*---------------------media quiery---------------------------*/



@media all and (max-width: 1440px){
    body{
        width: 100%
    }
    #header{
        height: 700px;
    }
    /*.home-content .right img {
        position: relative;
        left: 50px;
        top: 100px;
    }*/
}


@media all and (max-width: 1200px){
    #header{
        height: 600px;
    }
    .home-content{
        margin-top: 50px;
    }
    /*.home-content .right img {
        position: relative;
        width: 80%;
        left: 40px;
        top: 0px;
        margin-left: 110px;
    }*/
    
}


@media all and (max-width: 1024px){
    body {
        min-width: 100%;
        overflow-x: hidden;
    }
    nav img {
        width: 200px;
        margin-left: 50px;
    }
    nav ul{
        margin-top: 20px;
    }
    nav ul li{
        margin-top: 20px;
    }
    .home-content {
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
    }


    .home-content .left {
        position: relative;
        left: 110px;
        margin-top: 20px;
    }

    .heading img {
        position: relative;
        width: 60%;
        z-index: 3;
    }

    .sub-heading img {
        z-index: 2;
        width: 60%;
        position: relative;

    }

    .home-content .left p {
        position: relative;
        width: 450px;
        text-align: left;
        color: #ffffff;
        font-size: 18px;
        top: -30px;
        margin-left: -20px;
    }

    .home-content .right {
        position: absolute;

    }

    /*.home-content .right img {
        position: relative;
        width: 80%;
        left: 15px;
        top: -10px;
    }*/
    
    .our-story{
        margin-top: 50px;
    }
    .story a{
        color: #3f3e65;
    }
    
    .story-left{
        line-height: 50px;
        margin-top: 20px;
    }
    .story-right p{
        margin-top: -100px;
        margin-bottom: 20px;
        width: 450px;
    }

}

@media all and (max-width: 990px){
    body {
        min-width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    nav ul li{
        margin-top: 20px;
        margin-left: 10px;
    }
    nav ul li a{
        font-size: 13px;
    }
    nav img {
        width: 200px;
    }

    .home-content {
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }


    .home-content .left {
        left: 50px;
        top: 50px;
    }

    .heading img {
        position: relative;
        width: 80%;
        z-index: 3;
    }

    .sub-heading img {
        z-index: 2;
        width: 70%;
        position: relative;
        left: 95px;
        top: -25px;
    }

    .home-content .left p {
        width: 400px;
        text-align: left;
        color: #ffffff;
        font-size: 16px;
        margin-top: 20px;
        margin-left: -20px;
    }

    .home-content .right {
        height: 120%;

    }

    /*.home-content .right img {
        position: relative;
        width: 100%;
        left: 30px;
        top: 20px;
    }*/

    .our{
        font-size: 35px;
    }
    .story{
        font-size: 70px;
    }
    
    .story-left{
        line-height: 50px;
        margin-top: 20px;
    }
    .story-right{
        margin-right: 20%;
    }
    .story-right p{
        font-size: 15px;
        margin-top: -120px;
        margin-bottom: 0;
    }
    .story-right a{
        font-size: 15px;
    }

    .food-name{
        font-size: 25px;
        
        font-weight: 600;
    }
    .slider{
        margin-top: -70px;
        margin-bottom: -70px;
    }
    .content .title{
        font-size: 25px;
    }
    .content .text{
        
        font-size: 16px;
    }
    .content button{
        font-size: 12px;
        padding: 10px 15px;
    }
    .sliders .tap{
        width: 40px;
    }
    .footer-left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 100px;
    }
    .footer-left .footer-logo img{
        width: 70%;
    }
    .copyright{
        font-size: 12px;
    }
    
    .footer-right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 0;
    }
    
    .mail{
        width: 300px;
    }
    .mail i{
        margin-top: 0;
        font-size: 15px;
        text-align: center;
    }
    .mail p{
        font-size: 12px;
    }
    .mail a{
        color: #fff;
    }
    
    .social{
        position: relative;
        top: 180px;
        left: 0;
        font-size: 20px;
    }
    .social i{
        margin-left: 10px;
        transition: all 0.5s;
    }
    .footer-left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 100px;
    }
    .footer-left .footer-logo img{
        width: 70%;
    }
    .copyright{
        font-size: 12px;
    }
    
    .footer-right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 0;
    }
    
    .mail{
        width: 300px;
    }
    .mail i{
        margin-top: 0;
        font-size: 15px;
        text-align: center;
    }
    .mail p{
        font-size: 12px;
    }
    .mail a{
        color: #fff;
    }
    
    .social{
        position: relative;
        top: 180px;
        left: 0;
        font-size: 20px;
    }
    .social i{
        margin-left: 10px;
        transition: all 0.5s;
    }

}

@media all and (max-width: 950px){
    .content .text{
        width: 320px;
    }
}

@media all and (max-width: 767px){
    body {
        min-width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    nav{
        display: flex;
        flex-direction: row;
        width: 120%;
        margin-left: -30px;
    }
    nav ul li{
        margin-top: 20px;
        margin-left: 5px;
    }
    nav ul li a{
        font-size: 13px;
    }
    nav img {
        width: 180px;
        margin-left: 0;
    }

    
    .home-content{
        margin-top: 0;
        top: 0;
    }
    .home-content .left {
        left: -40px;
    }

    .heading img {
        position: relative;
        width: 80%;
        z-index: 3;
    }

    .sub-heading img {
        z-index: 2;
        width: 70%;
        position: relative;
        left: 95px;
        top: -25px;
    }

    .home-content .left p {
        width: 350px;
        text-align: left;
        color: #ffffff;
        font-size: 16px;
        margin-top: 20px;
        margin-left: -20px;
    }

    .home-content .right {
        top:30%;

    }

    /*.home-content .right img {
        position: relative;
        width: 160%;
        left: -100px;
        top: 80px;
    }*/

    .our{
        font-size: 35px;
    }
    .story{
        font-size: 70px;
    }
    
    .story-left{
        line-height: 50px;
        margin-top: 20px;
        margin-right: -50px;
    }

    .story-right{
        margin-right: 0;
    }
    .story-right p{
        max-width: 70%;
        font-size: 15px;
        margin-top: -140px;
        margin-bottom: 0;
    }
    .story-right a{
        font-size: 15px;
    }

    .food-name{
        font-size: 25px;
        
        font-weight: 600;
    }
    .slider{
        margin-top: -70px;
        margin-bottom: -70px;
    }
    .slider .owl-item.active.center .slider-card{
        transform: scale(1.6);
    }
    .food-name{
        font-size: 15px;
    }
    .blog-card{
        height: 350px;
    }

    .inner-part .img{
        width: 260px;
    }
    .content .title{
        font-size: 20px;
    }
    .content .text{
        width: 380px;
        font-size: 14px;
    }
    .content button{
        font-size: 10px;
        padding: 8px 12px;
    }
    .sliders .tap{
        height: 4px;
        width: 30px;
    }

    .franchising-form{
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .franchising-form h1{
        font-size: 35px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 50px;
        color: #3f3e65;
    }
    
    .form-row{
        margin-bottom: 0px;
    }
    

    .btn-primary {
        width: 100%;
    }


    .footer-left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 100px;
    }
    .footer-left .footer-logo img{
        width: 70%;
    }
    .copyright{
        font-size: 12px;
    }
    
    .footer-right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 0;
    }
    
    .mail{
        width: 300px;
    }
    .mail i{
        margin-top: 0;
        font-size: 15px;
        text-align: center;
    }
    .mail p{
        font-size: 12px;
    }
    .mail a{
        color: #fff;
    }
    
    .social{
        position: relative;
        top: 180px;
        left: 0;
        font-size: 20px;
    }
    .social i{
        margin-left: 10px;
        transition: all 0.5s;
    }
}


@media all and (max-device-width: 640px) {
    body {
        min-width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    #header{
        max-height: 90vh;
    }
    nav{
        width: 100%;
        margin-left: 0;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
        color: #ffffff;
        z-index: 77;
    }

    nav img {
        width: 200px;
    }

    nav ul {
        z-index: 5;
        color: #e5e5e5;
        background-image: url(assets/Header\ Background.png);
        object-fit: contain;
        position: fixed;
        top: -20px;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 100;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul li a {
        color: #cdcdcd;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }


    .home-content {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


    .home-content .left {
        

    }

    .heading img {
        position: relative;
        width: 55%;
        z-index: 3;
    }

    .sub-heading img {
        z-index: 2;
        width: 50%;
        position: relative;
        left: 95px;
        top: -15px;
    }
    .home-content .left{
        margin-left: 15%;
    }
    .home-content .left p {
        width: 250px;
        text-align: left;
        color: #ffffff;
        font-size: 14px;
    }

    .home-content .right {
        position: absolute;
        top: 0;
        width: 60%;
        height: 140%;
    }

    /*.home-content .right img {
        position: relative;
        width: 58%;
        left: 160px;
        top: -300px;
        margin-left: 110px;
    }*/

    .our{
        font-size: 30px;
    }
    .story{
        font-size: 60px;
    }
    .our-story{
        flex-direction: column;
        margin-left: 5%;
    }

    .story-left {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    .our{
        font-size: 50px;
        margin-right: 5%;
    }
    .story{
        font-size: 50px;
    }
    .story-right {
        margin-left: 25%;
        width: 90%;
    }
    .story-right p{
        font-size: 15px;
        text-align: center;
    }
    .story-right a{
        font-size: 15px;
        margin-left: 30%;
    }
    .inner-part .img{
        width: 200px;
        height: 200px;
    }

    
    .content .text{
        width: 300px;
    }
    .content button{
        font-size: 10px;
        padding: 8px 12px;
    }
    .sliders .tap{
        height: 4px;
        width: 25px;
        left: -70px;
    }

    .footer-left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 100px;
    }
    .footer-left .footer-logo img{
        width: 80%;
        margin-left: -25px;
    }
    .copyright{
        margin-left: 20px;
        width: 250px;
        font-size: 12px;
    }
    
    .footer-right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 0;
    }
    
    .mail{
        width: 300px;
    }
    .mail i{
        margin-top: 0;
        font-size: 15px;
        text-align: center;
    }
    .mail p{
        font-size: 12px;
    }
    .mail a{
        color: #fff;
    }
    
    .social{
        position: relative;
        top: 180px;
        left: 0;
        font-size: 20px;
    }
    .social i{
        margin-left: 10px;
        transition: all 0.5s;
    }

}




@media all and (max-device-width: 480px) {
    #header{
        height: 70%;
    }
    body {
        overflow-x: hidden;
        min-width: 100%;
    }
    nav{
        width: 90%;
        margin: auto;
    }

    .heading img {
        position: relative;
        width: 55%;
        z-index: 3;
        left:50px;
    }

    .sub-heading img {
        z-index: 2;
        width: 55%;
        position: relative;
        left: 95px;
        top: -15px;
    }
    .home-content .left p{
        font-size: 12px;
    }
    .home-content .right{
        height: 117%;
    }

    /*.home-content .right img {
        position: relative;
        width: 60%;
        left: 90px;
        top: -50px;
    }*/


    .our-story{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }

    .our {
        
        font-size: 40px;
    }
    .story{
        margin-left: 10px;
        font-size: 40px;
    }
    
    .story-left{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        line-height: 50px;
        margin-top: 0px;
        margin-right: 0px;
    }
    .story-right{
        margin-right: 0;
        width: 100%;
    }
    .story-right p{
        width: 80%;
        text-align: justify;
        font-size: 15px;
        margin-bottom: 0;
    }
    .story-right a{
        font-size: 15px;
    }

    .menu-head{
        font-size: 22px;
    }
    #slider .container{
        
        padding: 0;
        margin: 0;
    }
    

    .slider .owl-item.active.center .slider-card {
        transform: scale(1);
        opacity: 1;
        margin-left: 50px;
    }
    .slider{
        height: 380px;
    }
    .slider-card {
        background-color: #fff;
        margin: 50px 15px 90px 15px;
        transform: scale(0.9);
        opacity: 0.3;
        transition: all 0.3s;
    }
    .slider-card h1{
        font-size: 20px;
        font-weight: 700;
        color: #3b3b3b;
    }

    .blog-card{
        height: 700px;
    }
    .inner-part{
        flex-direction: column;
        margin: 0;
        padding: 0;
        margin-left: -15px;
    }

    .inner-part .img{
        position: relative;
        left: -35px;
        top: 200px;
        margin-top: 50px;
        width: 350px;
        height: 350px;
        box-shadow: none;
    }
    .inner-part .img img{
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }
    
    .content {
        
        margin-top: 240px;
    }
    .content .text{
        width: 350px;
    }
    .content button{
        font-size: 10px;
        padding: 8px 12px;
    }
    .sliders .tap{
        height: 4px;
        width: 25px;
        left: -50px;
    }


    .footer{
        display: flex;
        align-content: center;
        width: 100%;
        height: 600px;
    }
    .background{
        flex-direction: column;
    }
    
    
    .footer-logo{
        position: relative;
        top: 50px;
        left: 20px;
    }
    .copyright{
        top: 420px;
        left: -90px;
    }
    
    .footer-right{
        position: relative;
        top: -250px;
        left: 60px;
        margin-right: 10px;
        align-content: center;
    }
    
    
    .mail{
        margin-top: 5px;
        left: 0;
    }
    .mail i{
        font-size: 20px;
        text-align: center;
        margin-right: 10px;
    }
    .mail p{
        margin-left: 20px;
        color: #fff;
        text-decoration: none;
    }
    .mail a{
        color: #fff;
    }
    
    .social{
        position: relative;
        top: 50px;
        left: -50px;
        font-size: 25px;
    }
    .social i{
        margin-left: 10px;
        transition: all 0.5s;
    }
    .social i:hover{
        transform: translateY(-2px);
        transition: all 0.5s;
    }

    .franchising-form .container .h1{
        font-size: 10px;
    }

}

@media all and (max-device-width: 440px){

    .home-content .left p{
        width: 65%;
    }

    .heading img{
        width: 70%;
    }

    .sub-heading img{
        width: 70%;
    }
    .home-content .left p{
        margin-left: 5%;
    }
    .home-content .right{
        
        background-size: 100%;
    }
    /*.home-content .right img {
        position: relative;
        width: 58%;
        left: 70px;
        top: -90px;
    }*/

    .inner-part .img{
        position: relative;
        left: -52px;
        top: 200px;
        margin-top: 50px;
        width: 350px;
        height: 350px;
        box-shadow: none;
    }
    .inner-part .img img{
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }
}
@media all and (max-device-width: 400px){

    /*.home-content .right img {
        position: relative;
        width: 60%;
        top: -90px;
    }*/

    .inner-part{
        position: absolute;
        left: 15px;
    }
    .inner-part .img{
        position: relative;
        left: -72px;
        top: 200px;
        margin-top: 50px;
        width: 320px;
        height: 320px;
        box-shadow: none;
    }
    .content .text{
        width: 300px;
    }
}
@media all and (max-device-width: 390px){
    
    /*.home-content .right img {
        position: relative;
        width: 60%;
        left: 50px;
        top: -90px;
    }*/

    .inner-part .img{
        position: relative;
        left: -72px;
        top: 200px;
        margin-right: 15px;
        margin-top: 50px;
        width: 320px;
        height: 320px;
        box-shadow: none;
    }
    .content .text{
        width: 300px;
    }
}

@media all and (max-device-width: 375px){
    
    .home-content .left p{
        margin-left: 1%;
        width: 50%;
    }
    /*.home-content .right img {
        position: relative;
        width: 60%;
        top: -90px;
    }*/
    .slider{
        margin-top: 10px;
    }
    .inner-part{
        left: 20px;
    }

    .inner-part .img{
        width: 300px;
        height: 300px;
        left: -88px;

    }

    .footer-right{
        left: 50px;
    }

    .footer-logo{
        left: 0;
    }
}
@media all and (max-device-width: 320px){
    

    nav img{
        width: 50%;
    }
    .home-content .left p{
        width: 200px;
    }
    /*.home-content .right img {
        width: 70%;
        left: -20px;
        top: -140px;
    }*/
    .story-right{
        margin-right: 30px;
    }
    .menu-head{
        font-size: 18px;
    }
    .slider{
        margin-top: 10px;
    }
    .blog-card{
        margin-top: 0;
        height: 600px;
    }
    .inner-part .img{
        width: 250px;
        height: 250px;
        top: 180px;
        left: -113px;

    }
    .content{
        margin-top: 220px;
    }
    .content .text{
        width: 230px;
    }
    .sliders{
        top: 560px;
        width: 150px;
        left: 230px;
    }

    .footer-right{
        left: 50px;
    }

    .footer-logo{
        left: 0;
    }
    .copyright{
        left: -75px;
    }
}
@media (max-width: 980px) {

}

@media (max-width: 768px){

}

@media (max-width: 700px){

}

@media (max-width: 450px){

}


@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 890px) 
                   and (orientation: landscape) {


                #header{
                    height: 150vh;
                }

                .home-content .right{
                    height: 230%;
                }
                #slider{
                    margin-top: 15%;
                }
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) 
  and (orientation: landscape){ 

}


@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3) 
    and (orientation:landscape){
        body{
        width: 100%;
        }
        #header{
        height: 150vh;
        }
        .home-content .right{
        height: 230%;
        }
        #slider{
            margin-top: 15%;
        }
        


}



@media only screen 
  and (min-device-width: 820px) 
  and (max-device-width: 1180px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-content .right{
        position: absolute;
        top: -7%;
    }
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-height: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-content .right{
        height: 95%;
    }
    #story{
        height: 60%;
        margin-bottom: 0;
    }
}